.hero-image {
    /*opacity: 70%;*/
    /* width: 90%; */
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 200px;
}


/*font-family: 'Bitter', serif;*/
/*font-family: 'Fugaz One', cursive;*/
/*font-family: 'Homemade Apple', cursive;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Monoton', cursive;*/
/*font-family: 'Pacifico', cursive;*/