
/*.react-datepicker__input-container {*/
/*    width: inherit;*/
/*}*/

/*.react-datepicker-wrapper {*/
/*    width: 100%;*/
/*}*/


.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
    width: 100%;
    height: 100%;
}
.react-datepicker__input-container  {
    width: inherit;
    height: inherit;
}
.react-datepicker__input-container input {
    width: inherit;
    height: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}






input[name="title"] {
    width: 50px;
    height: 50px;
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75)!important;
}

input[name="description"] {
    width: 100px;
    height: 200px;
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75)!important;

}

input[name="date"] {

    /*height: 40px;*/
    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75)!important;

}




input[name="pin"] {

    box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.75)!important;
}



h3, h2 {
    font-family: 'Roboto', sans-serif;
    color: black;

}


