.eventDetails {
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    color: whitesmoke;
}

.eventDetailsBox {
    margin: 30px;
}

/* .event-header {
    font-family: 'Pacifico', cursive !important;
    font-size: 30px !important;
} */

.event-header {
    font-family: 'Bitter', serif !important;
    font-size: 4rem !important;
    color: whitesmoke !important;
}



/*font-family: 'Bitter', serif;*/
/*font-family: 'Fugaz One', cursive;*/
/*font-family: 'Homemade Apple', cursive;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Monoton', cursive;*/
/*font-family: 'Pacifico', cursive;*/