.list-content {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: white;

}

.page-nation {
text-align: center;
  padding-top: 50px;
}


/*font-family: 'Bitter', serif;*/
/*font-family: 'Fugaz One', cursive;*/
/*font-family: 'Homemade Apple', cursive;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Monoton', cursive;*/
/*font-family: 'Pacifico', cursive;*/