/*.hero {*/
/*    position: relative;*/
/*    margin-top: 0px;*/
/*    opacity: 10%;*/
/*}*/

.hero-overlay {
    margin-bottom: 200px;
    text-align: center;
    /*position: fixed;*/
    text-transform: uppercase;
    z-index: 0;
    width: 100%;
}

.hero-title {
    font-size: 6vw;
    transform: translateY(9vw);
    color: black;
    letter-spacing: 0.45rem;
    font-weight: 500;
    /*font-family: 'Monoton', cursive;*/
    font-family: 'Fugaz One', cursive;
    opacity: 100%;
    margin-bottom: 450px;
    height: 150px;
    width: 100vw;

}

/*.hero-image {*/
/*    display: block;*/
/*    overflow: scroll;*/
/*    z-index: -1;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 75%;*/



/*}*/
/*.footer {*/
/*    background-color: #f1f1f1;*/
/*    padding: 10px;*/
/*    text-align: center;*/

/*}*/

/*.app-main-container {*/

/*    background-image:url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

