/*.hero {*/
/*    position: relative;*/
/*    margin-top: 0px;*/
/*    opacity: 10%;*/
/*}*/

.hero-overlay {
    margin-bottom: 200px;
    text-align: center;
    /*position: fixed;*/
    text-transform: uppercase;
    z-index: 0;
    width: 100%;
}

.hero-title {
    font-size: 6vw;
    transform: translateY(9vw);
    color: black;
    letter-spacing: 0.45rem;
    font-weight: 500;
    /*font-family: 'Monoton', cursive;*/
    font-family: 'Fugaz One', cursive;
    opacity: 100%;
    margin-bottom: 450px;
    height: 150px;
    width: 100vw;


}
